.content-wrapper {
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;

  border-radius: 30px;

  .board {
    aspect-ratio: 1 / 1;
    grid-row: span 2;
  }
}
