@keyframes dropIn {
  from {
    transform: translate(-50%, -300%); // Start above the viewport
    opacity: 0;
  }
  to {
    transform: translate(-50%, -220%); // End at the centered position
    opacity: 1;
  }
}

.modal-dialog {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -220%);
  outline: none;

  width: 600px;
  height: 200px;
  background-color: white;
  border: 2px solid red;
  box-shadow: 2px 3px red;

  border-radius: 15px;
  padding: 2em;

  animation: dropIn 0.2s ease-out;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(3px);
  }

  .close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 30px;
    height: 30px;
    background-color: #ffc700;
    color: black;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      box-shadow: none;
      transform: translate(1%, 3%);
    }

    &:active {
      box-shadow: inset 2px 2px 5px #0000006e;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    h1 {
      font-size: 1.7rem;
    }

    ul {
      list-style: none;

      li {
        font-size: 1.2rem;
      }
    }
  }
}
