@import "./main.scss";

header {
  display: flex;
  justify-content: space-between;
}

#move-to-opps-btn {
  display: none;
  background-color: $enemy-color;
}

#submit-board-btn {
  background-color: #ffc700;
}
